/*
Colors used:
(White): #FFFFFF;
(Black): #000000;
(Grey1): #3E413F
(Grey 2): #4a4a4a
Olive Primary (Light Green): #E3F0E4
Brand Primary (Purple): #B294F0
Brand Secondary (Dark Pink): #f209B1
*/
* {
  box-sizing: border-box;
}

html {
      scroll-behavior: smooth;
    }

/* header styling */
header {
    background-color: #d3d3d3;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.75);
    position: relative;
}

body {
  background-color: #ffffff;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
  h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
  text-align: center;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* hero/work */
#hero {
  background-color: #d3d3d3;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  margin: 10px;
}

#hero p {
  text-align: center;
}

.row {
  margin: 25px 0;
  display: inline-block;
  width: 100%;
}

#work
.row {
   padding-bottom: 25px;
   border-bottom: 1px solid rgba(22, 16, 31, 0.3);
}

/* nav */
nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

a {
  color: #B294F0;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #B294F0;
}
a:hover {
  color: #f209B1;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #994c30;
}
  a:hover,
a:focus {
  color: #f209B1;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #B294F0;
  color: #ffffff; /* needed to override the default link color */
  text-color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #787878; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-align: center;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.olivebutton {
  background-color: transparent;
  color: #B294F0;
  text-transform: uppercase;
  border: 2px solid #B294F0;
}
.olivebutton:hover {
  background-color: #B294F0;
  color: #ffffff;
}

/*footer*/
.button.contact {
  background-color: transparent;
  color: #B294F0;
  text-transform: uppercase;
  border: 2px solid #B294F0;
}
.button.contact:hover {
  background-color: #B294F0;
  color: #ffffff;
}

svg {
 max-width: 32px
}

/* work/projects */
#work .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.coverpic {
  width: 500px;
  height: auto;
  position: relative;
}


/* social media icons */
.social {
  padding: 20px;
}
.social:hover {
  opacity: 0.5;
}

/* Layout styling */

.container {
  padding: 0 15px;
}
.logo {
  max-width: 250px;
}

/* about page */
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 50%;
  border-radius: 25px;
}

.center-all {
  text-align: center;
}
#about h1, h2, p, div {
  text-align: center;
}
.resumebutton {
  background-color: transparent;
  color: #B294F0;
  text-transform: uppercase;
  border: 2px solid #B294F0;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.resumebutton:hover {
  background-color: #B294F0;
  color: #ffffff;
}

/*olive page*/
#project1 h1 {
  text-align: center;
}

#project1 h4 {
  text-align: center;
  font-weight: 700;
  color: #000000;
}

#project1 picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 50%;
  text-align: center;
  border-radius: 5px;

}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 50%;
  text-align: center;
  border-radius: 5px;
}
.olivecover-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 50%;
  text-align: center;
  border-radius: 5px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
    #hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
